{% extends "auctions/layout.html" %}

{% block body %}

    {% if message %}
        <div class="notification is-danger">{{ message }}</div>
    {% endif %}
    <div class="container">
        <br><h1><strong>REGISTER</strong></h1> <br> <br>
        <div class="text-left">

            <form action="{% url 'register' %}" method="post">
                {% csrf_token %}
                <div class="field">
                    <label class="label">Username</label>
                    <input class="input" autofocus type="text" name="username" placeholder="Username">
                </div>
                <div class="field">
                    <label class="label">Email</label>
                    <input class="input" type="email" name="email" placeholder="Email Address">
                </div>
                <div class="field">
                    <label class="label">Password</label>
                    <input class="input" type="password" name="password" placeholder="Password">
                </div>
                <div class="field">
                    <label class="label">Confirm Password</label>
                    <input class="input" type="password" name="confirmation" placeholder="Confirm Password">
                </div>
                <input class="button is-primary" type="submit" value="Register">
            </form>
            <br>
            Already have an account? <a href="{% url 'login' %}">Log In here.</a>
        </div>
    </div>
{% endblock %}